.back_ground_img{
    width: 100%;
    height: 650px;
    margin-top: 0;
    background-image: url("img/bgi.png");
    background-size: cover;
}

.hero{
    margin-top: 290px;
    margin-left: 25%;
    width: 65%;
}

.hero-title{
    font-family: "Inria Serif", serif;
    font-size: 55px;
    font-style: normal;
    color:white;
}

.button{
    width: 400px;
    display: flex;
    .btn{
        margin-right: 10%;
    }
}

.top_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
        .dropdown{
            font-family: "Inria Serif", serif;
            font-style: normal;
            color:white;
            margin-right: 35px;
            font-size:18px;
        }
    }
    img{
        margin-left: 20px;
        margin-top: 8px;
    }
}

.description{
    width: 100%;
    background-color: black;
    font-family: "Inria Serif", serif;
    font-style: normal;
    color:white;
    display: flex;
    justify-content: center;
    div{
        margin-top: 50px;
        width: 20%;
        margin-left: 5%;
        margin-right: 5%;
        p{
            margin-top: 10px;
            width: 70%;
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 700px) { /*핸드폰 화면일때 변경될 css*/
    .hero{
        margin-top: 100px;
        margin-left: 10px;
        width: 80%;
    }

    .hero-title{
        font-family: "Inria Serif", serif;
        font-size: 40px;
        font-style: normal;
        color:white;
    }

    .button{
        width: 100%;
        display: block;
    }

    .top_bar div{
        display: none;
    }

    .description{
        display: block;
        height: 900px;
        div{
            width: 80%;
        }
    }
}

.blur-bg-img{
    width: 100%;
    height: 1500px;
    background-color: black;
    background-image: url("img/2bgi.png");
}

.text{
    /* margin: 20px; */
    display: flex;
    height: 170px;
    align-items: flex-end;
    justify-content: space-around;
    font-family: "Inria Serif", serif;
    color: white;
}
.text1{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: "Inria Serif", serif;
    color: white;
}

.test_img{
    width: 80%;
}

.img_prompt{
    color:white;
    font-family: "Inria Serif", serif;
    display: flex;
    margin-left: 170px;
    margin-top: 310px;
}

.back_ground_img3{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.header_text{
    color: white;
    font-family: "Inria Serif", serif;
    margin-top: 80px;
}

.info_text{
    margin-top: 30px;
    color: white;
    font-family: "Inria Serif", serif;
}

.back_ground_img4{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.example_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.custom_font{
    color:white;
    font-family: "Inria Serif", serif;
}

hr{
    color: white;
    height: 20px;
}

.sample{
    color:rgb(0, 0, 0);
    font-family: "Inria Serif", serif;
    background-color: #d9d9d9;
    font-size: 85px;
    margin: 10px;
    margin-bottom: 250px;
}

.left{
    background-color: black;
    width: 520px;
    height: 1080px;
    color: white;
}

.img-button{
    background: url("img/Button.png") no-repeat;
    width: 451.85px;
    height: 94px;
}