body{
    margin:0px;
} 

.back_ground_img{
    width: 1920px;
    height: 900px;
    margin-top: 0;
    background-image: url("../img/bgi.png");
    
}

.back_ground_img2{
    width: 1920px;
    height: 960px;
    background-color: black;
}

.text_img{
    display: flex;
    width:1920px;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
}
.hero-title{
    font-size:60px;
    color:white;
}
.button{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.hero{
    margin-top: 450px;
    margin-left: 500px;
}